<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/senddirect">Send Direct SMS</a></li>
      <%if(loggedIn){%>
      <li><a href="/users/addcredentials">Add Credentials To Your Account</a></li>
      <li><a href="/users/sendsms">Send SMS</a></li>
      <li><a href="/users/logout">Logout</a></li>
      <%}%>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
