<!DOCTYPE html>
<html>
  <head>
    <title>Bulk SMS | Home</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  <!--  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
--> <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/appScript.js"></script>
  </head>
<body ng-app="app">
  <br>
  <br><br>
  <div class="container-fluid" ng-controller="userDetailsController">
  <form name="userForm" action="/user" method="POST" ng-submit="submit();">
    <div class="row">
      <div class="col-md-10 col-xs-10 col-md-push-1 col-xs-push-1 content">
          <div class="col-md-10">
            <div class="form" ng-repeat="user in users">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="usr">Username</label>
                  <input type="number" ng-model="input.usr" ng-pattern="phone_regex" id="" name="user{{user}}" class="form-control" placeholder="way2sms number" required>
                 <div class="invalid" ng-show="userForm.user{{user}}.$error.pattern">Invalid</div>
                </div>
              </div>
                <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="pwd">Password</label>
                  <input type="password" ng-model="input.pwd" name="pwd" class="form-control" placeholder="Password" required>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <img src="images/select.png" id="add" ng-click="add();">
            <img src="images/delete.png" id="sub" ng-click="sub();">
          </div>
      </div>
    </div>

    <br><br>
    <br>
    <p align="center">
      <button ng-disabled="userForm.$invalid" ng-class="{'disabled': userForm.$invalid}" class="custom-submit" type="submit">Next Step</button>
    </p>
  </form>
  </div>
</body>
</HTML>
