<!DOCTYPE html>
<html>
  <head>
    <title>Bulk SMS | Home</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  <!--  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
--> <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/angular.min.js"></script>
    <script src="/js/appScript.js"></script>
  </head>
<body ng-app="app">
  <br>
  <br><br>
  <%include partials/navbar.ejs%>
  <div class="container-fluid" ng-controller="userDetailsController">
  <form name="userForm" action="/users/addcredentials" method="POST" ng-submit="submit();">
    <div class="row">
      <div class="col-md-10 col-xs-10 col-md-push-1 col-xs-push-1 content">
          <div class="col-md-10 col-md-push-1">
            <div class="form">
              <div class="row border-bottom">
                <div class="col-md-6 col-xs-12 border-right">
                  <label>Username</label>
                </div>
                <div class="col-md-6 col-xs-12">
                  <label>Password</label>
                </div>
              </div>
            <!-- Repeat from Here -->
                <div class="row border-bottom">
                  <div class="col-md-6 col-xs-12 border-right padding">
                    <div>Vishwajeet Jadeja</div>
                  </div>
                  <div class="col-md-6 col-xs-12 padding">
                    <div>123123 :P</div>
                  </div>
                </div>
              <!-- -->
            </div>
          </div>
      </div>
    </div>

    <br><br>
    <br>
  </form>
  </div>
</body>
</HTML>
