body
{
  background:rgb(240,240,240);
}
.content
{
  background:white;
  border: 2px solid rgba(0,0,0,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  padding: 30px;
}
input[type=text]:focus,input[type=number]:focus,input[type=email]:focus,input[type=password]:focus, #message:focus
{
  outline: 0;
  box-shadow:0 0 0 0;
  border-color: rgba(0,0,0,0.8);
}
.border-right
{
  border-right: 1px solid rgba(0,0,0,0.5);
}
.border-left
{
  border-left: 1px solid rgba(0,0,0,0.5);
}
.glyph
{
  margin-top:25px;
}
.glyph span
{
  font-weight: bolder;
}
#add,#sub
{
  width: 50%;
  cursor: pointer;
  margin-top: 28px;
}
.accounts
{
  font-size: 150%;
  padding: 15px;
  padding-bottom: 0;
}
.custom-submit
{
  padding:10px;
  border:1px solid black !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  outline:none;
  border:none;
  background:white;
}
.heading
{
  font-size:200%;
  font-weight: bold;
}
.invalid
{
  margin-top: 10px;
  color: red;
}
.disabled{
  box-shadow: none;
  color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.5) !important;
}
@media(max-width)
{
  .border-right,.border-left
  {
    display: none;
  }
}
